<c-row>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <app-docs-example href="forms/layout#gutters">
          <form cForm class="row g-3" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
            <c-col md="4">
              <label cLabel for="name">First Name</label>
              <input cFormControl id="first_name" type="text" formControlName="first_name" />
            </c-col>
            <c-col md="4">
              <label cLabel for="surname">Last Name</label>
              <input cFormControl id="last_name" type="text" formControlName="last_name" />
            </c-col>
            <c-col md="4">
              <label cLabel for="Id">ID/ Passport</label>
              <input cFormControl id="employee_id" type="text" formControlName="employee_id" />
            </c-col>
            <c-col md="4">
              <label cLabel for="inputEmail4">Email</label>
              <input cFormControl id="email" type="email" formControlName="email" />
            </c-col>
            <c-col md="12">
              <button cButton color="primary" type="submit" >Update</button>
            </c-col>
          </form>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
