<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <!-- <strong>Angular Table</strong> <small>Basic example</small> -->
      </c-card-header>
      <c-card-body>
        <app-docs-example href="components/table">
          <table cTable>
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date Applied</th>
                <th scope="col">Job Title</th>
                <th scope="col">View Applicants</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let app of applicants; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ app.created_date | date:'yyyy-MM-dd' }}</td>
                <td>{{ app.job_applied_title }}</td>
                <td> {{ app.first_name }} {{ app.last_name }} </td>
              </tr>
              <tr *ngIf="!applicants || applicants.length === 0">
                <td colspan="4" class="text-center">No job applications</td>
              </tr>
            </tbody>
          </table>
        </app-docs-example>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
